<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/bonito.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <h1>E-story</h1>
      </div>
     
      <div class="cards-list" id="-list"></div>
      <div class="modal" id="modal" onclick="hideModal()">
        <div class="modal-content" id="modal-content"></div>
      </div>
    </div>

    <div class="card2">
        <div class="img">
            <span><%=titulo.nome%></span> 
        </div>
    
        <div class="content">
            <p class="desc"><%=titulo.marca%></div>
            </div>
        </div>
        </div>
    

</div>

  </body>
</html>