<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuário</title>
  <base href="/cadastro">
  <link rel="stylesheet" href="/style_login.css">
</head>
<body>
  <div class="page">
    <form method="post" action="/cadastro" class="formLogin" onsubmit="alert('Usuário cadastrado com sucesso!')">
      <h1>Cadastro de Usuário</h1>
      <p>Digite os seus dados no campo abaixo.</p>
          <label for="nome">Nome</label>
          <input type="text" name="nome" placeholder="Digite o seu nome" autofocus="true" required>
          <label for="email">E-mail</label>
          <input type="email" name="email" placeholder="Digite o seu e-mail" required>
          <label for="senha">Senha</label>
          <input type="text" name="senha" placeholder="Digite uma senha" required>
          <section id="botoes">
            <button type="reset" value="Acessar" class="cadastro">Apagar</button>
            <button type="submit" value="Acessar" class="cadastro">Enviar</button>
          </section>
    </form>
  </div>
</body>
</html>