<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <base href="/" />
    <title>E-Pampa Login</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="page">
      <form method="POST" action="/login" class="formLogin">
        <h1>Login</h1>
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        <label for="email">E-mail</label>
        <input type="email" name="email" placeholder="Digite seu e-mail" autofocus="true"required/>
        <label for="senha">Senha</label>
        <input type="senha" name="senha" placeholder="Digite sua senha" required/>
        <a href="/cadastro">Não possui uma conta?</a>
        <input type="submit" value="Acessar" class="btn" />
      </form>
    </div>
  </body>
</html>